.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}