.upload {
    display: flex;
    justify-content: center;
    min-height: 600px;
    -webkit-box-shadow: 0 0 34px 3px rgb(20 83 155 / 5%);
    box-shadow: 0 0 34px 3px rgb(20 83 155 / 5%);
    margin: 3% 10%;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    justify-content: center;
}

.title {
    padding: 14px 0px;
    color: var(--theme_color);
    font-weight: 600;
    font-family: Nunito;
    font-size: 3rem;

}

.arrange_buttons{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.w100{
    width: 100%;
}


.font {
    font-size: 1rem !important;
}

@media (min-width: 320px) and (max-width: 480px) {

    .uploadTitle {
        font-size: 1.9rem;
    }

    .arrange_buttons{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .font {
        font-size: 0.8rem !important;
    }
    
}